@mixin apply-backgrounds($color-map) {

    @each $key, $color in $color-map {

      &--#{$key}.theme__colors {
        background-color: $color;
        border-radius: 5px;
        padding: 15px 20px;
        font-weight: bold;
      }
    }
}


// Media Queries

//Flexbox Settings

@mixin flex-container ($dir) {
  display: flex;
  flex-direction: $dir;
  @content;
}
