@mixin apply-backgrounds($color-map) {

    @each $key, $color in $color-map {

      &--#{$key}.theme__colors {
        background-color: $color;
        border-radius: 5px;
        padding: 15px 20px;
        font-weight: bold;
      }
    }
}


// Media Queries

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
  @else {
    @error "Whoops! No value could be retrieved for `#{$break}`."
  }
}

//Flexbox Settings

@mixin flex-container ($dir) {
  display: flex;
  flex-direction: $dir;
  @content;
}
