// Links
%link {
  text-decoration: none;
  color: inherit;
}
// Images

// Nav Items
%nav-style {
  padding: 15px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  text-align: center;
  &:hover {
    color: $white;
    background-color: $secondary-font-color;
  }
}

%align-left {
  text-align: left;
  margin-bottom: 30px;
  display: block;
}

// Buttons

%btn-align {
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  font-size: 1.2em;
  color: $white;
  text-transform: uppercase;
}
