.btn {
  @include apply-backgrounds($button-color);
}

.grid__col--12 button {

  @extend %btn-align;
  margin-bottom: 20px;

  &:not(:last-child) {
    @media (min-width: 768px) {
      margin-right: 3%;
    }
  }
}

.grid__col--12 {
  @media (min-width: 768px) {
    @include flex-container(row);
    justify-content: space-around;
  }
}
