.btn {
  @include apply-backgrounds($button-color);
}

.grid__col--12 button {

  @extend %btn-align;
  margin-bottom: 20px;

  &:not(:last-child) {
    @include mq(large){
      margin-right: 3%;
    }
  }
}

.grid__col--12 {
  @include mq (large) {
    @include flex-container(row);
    justify-content: space-around;
  }
}
