.btn {
  @include apply-backgrounds($button-color, center);
}

.grid__col--12 {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.grid__col--12 button {

  @extend %btn-align;
  margin-bottom: 20px;

  &:not(:last-child) {
    @media (min-width: 768px) {
      margin-right: 3%;
    }
  }
}
