.form {

  & .form__label--hidden {
    display: none;
  }
  & .form__input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 30px auto;
    border: none;
    border-bottom: 5px solid $secondary-font-color;
    &::placeholder {
      font-weight: bold;
      font-size: 1.2em;
      }
    }
    & .btn--default[type="submit"] {
      @extend %btn-align;
    }
}
