// Apply styles ONLY to the following elements:

// * universal selector
* {
  box-sizing: border-box;
}

// p elements
p {
  line-height: 1.8;
}
// ul elements
ul {
  list-style-type: none;
}
// a elements
a {
  @extend %link;
}
